//
   Created by Matuszewski on 11/03/16.
extends layout

block content
   div(class="container" ng-controller="DebugController")
     div(class="container-title")
         h2 Beacon Debug
     div(class="container-content container-scrollable")
        div(ng-repeat="event in events track by $index" class="container-list-element")
            span(ng-bind="event.event" class="block bold f-16 content-header ")
            span(ng-bind="event.client_id" class="block")
            span(ng-bind="event.data" class="block")