//
   Created by Matuszewski on 11/03/16.
extends layout

block content
   h1= title
   p
    strong This is beacon debug
   div(ng-controller="DebugController")
     div(ng-repeat="event in events track by $index" ng-bind="event")
