doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    each resource in static_resources.js
      script(src='/#{resource}')
  body(ng-app="beatconf")
    block content
